#mainstyle {
background-color: blue;
color: white;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rectangle {
    height: 100px;
    width: 930px;
    background-color: black;

}