#mainstyle {
background-color: black;
color: white;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#runesstyle{
background-color: black;
font-family:fantasy;
text-decoration: wavy;
color: orangered;
}